services:
  resource1:
    build:
      context: ./resource
      dockerfile: Dockerfile
    ports:
      - "12345:12345"
    network_mode: host
    restart: unless-stopped
  resource2:
    build:
      context: ./resource
      dockerfile: Dockerfile
    command: ["12346"]
    ports:
      - "12346:12346"
    network_mode: host
    restart: unless-stopped

  api:
    build:
      context: ./api
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    depends_on: [resource1, resource2]
    network_mode: host
    restart: unless-stopped
