services:
  bootstrap:
    build:
      context: ./bootstrap
      dockerfile: Dockerfile
    ports:
      - "12347:12347"
    environment:
      - BOOTSTRAP_SEED=jaemlike-bootstrap
      - BOOTSTRAP_PORT=12347
    networks:
      - jaemlike-network
    restart: unless-stopped
  resource1:
    build:
      context: ./resource
      dockerfile: Dockerfile
    ports:
      - "12345:12345"
    environment:
      - BOOTSTRAP_SEED=jaemlike-bootstrap
      - BOOTSTRAP_HOST=bootstrap
      - BOOTSTRAP_PORT=12347
    depends_on: [bootstrap]
    networks:
      - jaemlike-network
    restart: unless-stopped
  resource2:
    build:
      context: ./resource
      dockerfile: Dockerfile
    command: ["12346"]
    ports:
      - "12346:12346"
    environment:
      - BOOTSTRAP_SEED=jaemlike-bootstrap
      - BOOTSTRAP_HOST=bootstrap
      - BOOTSTRAP_PORT=12347
    depends_on: [bootstrap]
    networks:
      - jaemlike-network
    restart: unless-stopped

  api:
    build:
      context: ./api
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    environment:
      - BOOTSTRAP_SEED=jaemlike-bootstrap
      - BOOTSTRAP_HOST=bootstrap
      - BOOTSTRAP_PORT=12347
    depends_on: [bootstrap, resource1, resource2]
    networks:
      - jaemlike-network
    restart: unless-stopped

networks:
  jaemlike-network:
    driver: bridge
